services:
  yourope:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: yourope
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - proxy

networks:
  proxy:
    external: true